.chat-box {
    margin-right: auto;
    margin-left: auto;
    margin-top: 120px;
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
}

.input {
    position: fixed;
    height: 80px;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    background-color: white;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-top: 1px solid #c0c0c0;
}

.send-button {
    border-radius: 20px;
    width: 100px;
    min-width: 80px;
    margin-right: 5px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: white;
    font-family: Vazir-Black, serif;
    cursor: pointer;
    background: rgba(0,180,142,1);
    background: linear-gradient(90deg, rgba(0,180,142,1) 0%, rgb(5, 203, 134) 100%);
}

.send-button:hover {
    background-color: #43abab;
}

.send-button:active {
    background-color: #38a2ab;
}

input {
    resize: none;
    width: 850px;
    height: 50px;
    outline: none;
    border: none;
    font-size: 20px;
    font-family: Vazir-Light, serif;
    padding: 0px 30px;
    color: #333333;
}

.message-box {
    width: 100%;
    float: right;
    margin-bottom: 100px;
}

.typing {
    float: left;
    font-family: Vazir-Light;
    font-size: 15px;
    clear: both;
    color: #666666;
    background-color: #f5f5f5;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 100px;
}

