.question-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    font-family: Vazir, serif;
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    border-radius: 30px;
    cursor: pointer;
    margin: 10px;
}

.next {
    background-color: rgb(72, 149, 151);
}

.previous {
    background-color: rgb(95, 57, 77);
}

.end {
    background-color: rgb(17, 151, 118);
}

.form-view {
    max-width: 1000px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.mobile-form {
    width: 100%;
}